.about {
  display: flex;
  width: 80%;
  flex-direction: column;
}

.about h1 {
  margin: 10px;
}

.about p {
  flex: 2;
  font-size: 20px;
  color: black;
  width: auto;
}

/* Images and text formatting */
.images-and-description {
  display: flex;
  flex-direction: row;
}

/* Images stylings */
.mission {
  width: 15%;
}
